@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to right top, #1db954, #1dc057, #1dc85a, #1ecf5d, #1ed760);
    background-attachment: fixed;
}

a {
    color: white;
}

.playlist {
    background: white;
    width: 30%;
    min-height: 6rem;
    padding: 1rem;
}

.playlist-display-container {
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.playlist-top-entry {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.playlist-bottom-entry {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.playlist:hover {
    background: #e1e1e1;
    cursor: pointer;
}

.playlist-image {
    max-width: 6rem;
    max-height: 100%;
    float: left;
    margin-right: 10px;
}

.playlist-title {
    font-size: 19px;
    font-weight: bold;
}

.playlist-selection-header {
    color: white;
    text-align: center;
    margin-bottom: 3rem;
}

.sync-songs-button {
    width: 25%;
    height: 5.5rem;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sync-songs-button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.loader {
    width: 32px;
    height: 32px;
    border: 4px solid #000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-left: 10px;
    display: none;
}

.sync-songs-button:hover .loader {
    border: 4px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
}

.alert {
    position: absolute;
    top: 30%;
    border-radius: 10px;
    padding: 20px;
    color: white;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    /* visibility: hidden; */
    opacity: 0;
    /* for mobile */
    margin-left: 5%;
    margin-right: 5%;
}

.home-header {
    color: white;
    position: absolute;
    top: 0;
    text-align: center;
    width: 70%;
}

.external-links {
    color: white;
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
}

.logout {
    position: absolute;
    color: white;
    bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@keyframes fadeInDown {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        visibility: show;
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutUp {
    0% {
        visibility: show;
        opacity: 1;
        transform: translateY(20px);
    }
    100% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(0);
    }
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

@media (max-width: 576px) {
    .playlist {
        width: 70%;
    }

    .playlist-title {
        font-size: 15px;
    }

    .sync-songs-button {
        width: 75%;
    }

    .home-header {
        width: 90%;
    }

    .alert {
        top: auto;
        bottom: 32%;
    }
}