<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
	<title>SyncdIt - Choose Playlist</title>
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
	<div style="min-height: 97vh" class="d-flex flex-column justify-content-center align-items-center">
		<h1 class="playlist-selection-header">Choose public liked songs playlist</h1>
		{% for playlist in playlists %}
		<div class="playlist
		{% if loop.index == 1 %}playlist-top-entry{% endif %}
		{% if loop.index == loop.length %}playlist-bottom-entry{% endif %}
		" data-id="{{playlist['id']}}">
			<img class="playlist-image" src='{{playlist["image"]}}'>
			<span class="playlist-title">{{playlist["name"]}}</span>
			<br>
			<span>{{playlist["description"]}}</span>
		</div>
		{% endfor %}
		<div class="external-links">
			<a href="https://gitlab.com/TabulateJarl8/syncdit" target="_blank">View Source</a>
			<br>
			<a href="https://tabulate.tech" target="_blank">My Website</a>
		</div>
	</div>
	
	<script>
		function setCookie(name, value, days) {
			var expires = "";
			if (days) {
				var date = new Date();
				date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
				expires = "; expires=" + date.toUTCString();
			}
			document.cookie = name + "=" + (value || "") + expires + "; path=/";
		}

		function getCookie(name) {
			var nameEQ = name + "=";
			var ca = document.cookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ') c = c.substring(1, c.length);
				if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
			}
			return null;
		}

		var getUrlParameter = function getUrlParameter(sParam) {
			var sPageURL = window.location.search.substring(1),
				sURLVariables = sPageURL.split('&'),
				sParameterName,
				i;

			for (i = 0; i < sURLVariables.length; i++) {
				sParameterName = sURLVariables[i].split('=');

				if (sParameterName[0] === sParam) {
					return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
				}
			}
			return false;
		};

		var playlist_id = getCookie('playlist-id');
		if (playlist_id && !getUrlParameter("reselect-playlist")) {
			window.location.replace("/");
		}

		document.querySelectorAll('.playlist').forEach(playlist => {
			playlist.addEventListener('click', function() {
				setCookie("playlist-id", this.dataset.id, 365);
				window.location.replace("/");
			});
		});
	</script>
</body>
</html>