<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
	<title>SyncdIt</title>
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
	<div style="min-height: 97vh" class="d-flex flex-column justify-content-center align-items-center">
		<div class="home-header">
			<h1>SyncdIt</h1>
			SyncdIt a utility intended to solve a very simple issue. Spotify does not have any way to make your liked songs public, and while you can manually create a playlist and delete/copy over your liked songs, that can get tedious and it only works on desktop since you need keyboard shortcuts to do it efficiently. This tool will automate this process, and it can be used on most devices with a web browser.
		</div>
		<div id="sync-alert" class="alert"></div>
		<button id="sync-songs-button" class="sync-songs-button"><span>Sync Songs</span> <span class="loader"></span></button>
		<div class="playlist-display-container">
			<div style="color: white; font-size: 19px; margin-bottom: 10px;">
				Current selected playlist <a href="/chooseplaylist?reselect-playlist=true">(Change)</a>:
			</div>
			<br>
			<div style="pointer-events: none;" class="playlist playlist-top-entry playlist-bottom-entry">
				<img class="playlist-image" src='{% if playlist["images"]|length == 0 %} /img/musicnote.png {% else %} {{playlist["images"][0]["url"]}} {% endif %}'>
				<span class="playlist-title">{{playlist["name"]}}</span>
				<br>
				<span>{{playlist["description"]}}</span>
			</div>
		</div>
		<div class="logout">
			<a href="/logout">Log Out</a>
			<br>
			<a href="https://www.spotify.com/us/account/apps/">Disconnect Application</a>
		</div>
		<div class="external-links">
			<a href="https://gitlab.com/TabulateJarl8/syncdit" target="_blank">View Source</a>
			<br>
			<a href="https://tabulate.tech" target="_blank">My Website</a>
		</div>
	</div>
	<script>
		var syncButtonLock = false;

		function showAlert(color, text) {
			var sync_alert = document.getElementById('sync-alert');
			sync_alert.style.background = color;
			sync_alert.innerText = text;
			document.getElementById('sync-alert').style.animationName = 'fadeInDown';
		}

		document.getElementById('sync-songs-button').addEventListener('click', function() {
			if (syncButtonLock) {
				return;
			}

			syncButtonLock = true;
			document.getElementsByClassName('loader')[0].style.display = 'block';
			var httpRequest = new XMLHttpRequest();
			if (!httpRequest) {
				return;
			}

			httpRequest.onreadystatechange = function() {
				if (httpRequest.readyState == XMLHttpRequest.DONE) {
					if (httpRequest.status === 200) {
						if (httpRequest.responseText == "true") {
							showAlert('#2eb885', 'Success! Liked songs successfully synced.');
							setTimeout(function() {
								document.getElementById('sync-alert').style.animationName = 'fadeOutUp';
							}, 5000)

						} else if (httpRequest.responseText == "reauth") {
							window.location.replace('/auth');
						} else if (httpRequest.responseText == "chooseplaylist") {
							window.location.replace('/chooseplaylist?reselect-playlist=true');
						}
					} else {
						showAlert('#f44336', `Error: ${httpRequest.status}, ${httpRequest.statusText}, ${httpRequest.responseText}`);
					}
					document.getElementsByClassName('loader')[0].style.display = 'none';
					syncButtonLock = false;
				}
			};

			httpRequest.open('GET', '/syncsongs/');
			httpRequest.send();
		});
	</script>
</body>
</html>